@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body, body * {
    border : unset;
    padding : unset;
    /*font-family: 'Zen Maru Gothic', sans-serif;*/
    font-family: "cwTeXYen", sans-serif;
}